{% extends "minipipo1BlogBundle::layout.html.twig" %}

{% block title %}
	Rédiger un article - {{ parent() }}
{% endblock %}

{% block minipipoblog_body %}
        <h2>
                <a href="#">
                        {% if article.id %}
                                Éditer un article
                        {% else %}
                                Rédiger un article
                        {% endif %}
                </a>
        </h2>
        <form action="#" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                <div>
                        <span style="text-decoration: underline">{{ form_label(form.titre, "Titre") }} :</span>
                        {{ form_errors(form.titre) }}
                        {{ form_widget(form.titre) }}
                </div>
                <div>
                        {{ form_errors(form.contenu) }}
                        <textarea id="{{ form.contenu.vars.id }}" name="{{ form.contenu.vars.full_name }}">{{ form.contenu.vars.value }}</textarea>
                </div>
                <div>
                        <span style="text-decoration: underline">{{ form_label(form.auteur, "Auteur :") }}</span>
                        {{ form_errors(form.auteur) }}
                        {{ form_widget(form.auteur) }}
                </div>
                {{ form_rest(form) }}
                <p>
                        <button type="submit">Publier</button>
                </p>
        </form>
        

{% endblock %}
        
{% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/minipipo1blog/js/tiny_mce/tiny_mce.js') }}"></script>
        <script type="text/javascript">
                //tinyMCE.init({
                        mode : "textareas"
                });
        </script>
{% endblock %}