<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}Coulonweb{% endblock %}</title>
        <meta http-equiv="Content-Language" content="French" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="style.css" media="screen" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body>

        <div id="wrap">

            <div id="header">
                <h1><a href="#">Website Title</a></h1>
                <h2>Subheader, website description H2</h2>
            </div>

            <div id="top"> </div>
            <div id="menu">
                <ul>
                    <li><a href="{{ path('minipipoblog_index') }}">Accueil du blog</a></li>
                    {% if is_granted('ROLE_AUTEUR') %}
                        <li><a href="{{ path('minipipoblog_new') }}">Ajouter un article</a></li>
                    {% endif %}
                </ul>
            </div>

            <div id="content">
                <div class="left"> 
                    {% block body %}
                    {% endblock %}
                </div>

                <div class="right"> 
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        {% endif %}
                </div>
                <div style="clear: both;"> </div>
            </div>

            <div id="bottom"> </div>
            <div id="footer">
                Designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.openwebdesign.org/">custom web design</a></div>
        </div>

    </body>
    {% block javascripts %}
    {% endblock %}
</html>